files:
  - .kuberc:
      content: |
        apiVersion: kubectl.config.k8s.io/v1alpha1
        kind: Preference
        # alias "kubectl crns" for "kubectl create namespace {{@ namespace @}}"
        aliases:
          - name: crns
            command: create namespace
            appendArgs:
              - {{@ namespace @}}
        # Force the --interactive=true flag for kubectl delete
        overrides:
          - command: delete
            flags:
              - name: interactive
                default: "true"

variables:
  - namespace:
      description: The name of the namespace to create.
      type: string
      default: default
