name: generate-terminal-gifs

on:
  workflow_dispatch:

jobs:
  run:
    strategy:
      matrix:
        tapes:
          - 'docs/vhs/install.tape'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - uses: charmbracelet/vhs-action@v2
        with:
          path: ${{ matrix.tapes }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Update generated VHS GIF
          branch: repository-dispatch/update-${{ github.run_id }}
          title: Update generated VHS GIF
          body: This PR updates the generated VHS GIF files.
          base: main
